main.main
	padding-top: 150px
	padding-bottom: 150px
	+media-breakpoint-down(xxl)
		padding-top: 100px
		padding-bottom: 100px
	+media-breakpoint-down(lg)
		padding-top: 75px
		padding-bottom: 75px

.main-inner
	padding-top: 50px
	padding-bottom: 50px
	+media-breakpoint-down(md)
		padding-top: 30px

.page-heading
	padding-top: 50px
	+media-breakpoint-down(md)
		padding-top: 30px
	.logo
		margin-bottom: 50px
		+media-breakpoint-down(md)
			margin-bottom: 30px
		&-link
			display: flex
			align-items: center
			&:hover
				opacity: 0.65
			> img
				flex: 0 0 auto
				height: 48px
				+media-breakpoint-down(md)
					height: 32px
	.breadcrumbs
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-bottom: 8px
		> li
			display: inline-flex
			align-items: center
			color: $gray-200
			+font-size(xxs)
			&:not(:last-child)::after
				content: '/'
				display: inline-block
				vertical-align: middle
				margin-left: 16px
				margin-right: 16px
				color: $black
				+media-breakpoint-down(md)
					margin-left: 12px
					margin-right: 12px
			> a
				color: $black
				&:hover
					color: $gray-200
	.title
		margin-bottom: 0

// Thanks & 404 pages
.error404,
.thanks
	background-color: $black
	.main
		display: flex
		align-items: center
		justify-content: center
		min-height: 100vh
		padding: 60px 20px
	&-content
		max-width: 1096px
		margin-left: auto
		margin-right: auto
		text-align: center
		+media-breakpoint-down(xxl)
			max-width: 860px
		.title
			margin-bottom: 0
			color: $white
		.description
			margin-top: 30px
			margin-bottom: 0
			color: $white
			+media-breakpoint-down(lg)
				margin-top: 15px
		.btn
			margin-top: 45px
			+media-breakpoint-down(lg)
				margin-top: 30px

.error404
	&-content
		.title
			display: flex
			flex-direction: column
			align-items: center
			margin-bottom: 0
			color: $white
			&::before
				content: ''
				flex: 0 0 240px
				width: 100%
				margin-bottom: 60px
				background: url('../images/404.svg') no-repeat center/contain
				+media-breakpoint-down(xxl)
					flex-basis: 10vw
				+media-breakpoint-down(xl)
					flex-basis: 12vw
					margin-bottom: 45px
				+media-breakpoint-down(sm)
					flex-basis: 20vw
					margin-bottom: 30px